!!! 5
%html{:lang => 'en'}
  %head
    %title= 'I Listen To This'

    %meta{:charset => 'utf-8'}
    %meta{:name => 'description', :content => 'Listen to the hot songs in /r/ListenToThis'}
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1, user-scalable=no'}

    %link{:href => '/favicon.png', :rel => 'shortcut icon'}

    %link{:href => "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", :rel => "stylesheet"}
    %link{:href => "/css/index.css", :rel => "stylesheet"}
    %script{:src =>'http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js'}
    %script{:src =>'js/youtubeplay.js'}

    %script{type: "text/javascript", src: "//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"}
    %script{type: "text/javascript", src: "//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"}
    %script{type: "text/javascript", src: "//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"}
    %script{type: "text/javascript", src: "//cdnjs.cloudflare.com/ajax/libs/backbone.marionette/2.0.3/backbone.marionette.min.js"}

    %script{type: "text/javascript", src: "js/ltt.js"}
    %script{type: "text/javascript", src: "js/models/redditLink.js"}
    %script{type: "text/javascript", src: "js/collections/redditLinksCollection.js"}

%body
  .container
    .row
      .col-lg-12
        .logo.pull-left
        .title.pull-left
          %h1= 'I Listen to This'
          %p.lead
            %span= 'All the hot songs from'
            %a{:href => 'http://www.reddit.com/r/listentothis', :target => '_blank'}= '/r/ListenToThis'
            %span<>= '.'
    .row
      .col-lg-12
        #ytapiplayer 'You need Flash player 8+ and JavaScript enabled to view this video.'

  %footer
    .container
      %p
        %strong I Listen to This
        was created by the
        %a{:href => 'http://notninjas.com', :target => '_blank'}= 'Not Ninjas'
        at the eBay Israel Innovation Center:
      %p
        %a{:href => 'https://twitter.com/assafgelber', :target => '_blank'}= '@assafgelber'
        ,
        %a{:href => 'https://twitter.com/gardenofwine', :target => '_blank'}= '@gardenofwine'
        and
        %a{:href => 'https://twitter.com/ShayHDavidson', :target => '_blank'}= '@ShayHDavidson'
