!!! 5
%html{:lang => 'en'}
  %head
    %title= 'i Listen To This'

    %meta{:charset => 'utf-8'}
    %meta{:name => 'description', :content => 'Listen to the hot songs in /r/ListenToThis'}
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1, user-scalable=no'}

    %link{:href => '/images/favicon.png', :rel => 'shortcut icon'}

    %link{:href => "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", :rel => "stylesheet"}
    %link{:href => "/index.css", :rel => "stylesheet"}

    %script{type: "text/javascript", src: "//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"}
    %script{type: "text/javascript", src: "//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"}
    %script{type: "text/javascript", src: "//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"}
    %script{type: "text/javascript", src: "//cdnjs.cloudflare.com/ajax/libs/backbone.marionette/2.0.3/backbone.marionette.min.js"}

%body
  .container
    .row
      .col-xs-12
        .logo.pull-left.hidden-xxs
        .title.pull-left
          %h1= 'i Listen to This'
          %p.lead
            %span= 'All the hot songs from'
            %a.subreddit{:href => 'http://www.reddit.com/r/listentothis', :target => '_blank'}= '/r/ListenToThis'
            %span<>= '.'
    .row
      .col-xs-12.col-sm-6
        .player.photo.left
          .spinner
      .col-xs-6.hidden-xs
        .playlist.photo.right

  %footer
    .container
      .row
        .col-xs-12
          %p
            %strong i Listen to This
            was created by the
            %a{:href => 'http://notninjas.com', :target => '_blank'}= 'Not Ninjas'
            at the eBay Israel Innovation Center:
          %p
            %a.before-punctuation{:href => 'https://twitter.com/assafgelber', :target => '_blank'}= '@assafgelber'
            %span= ','
            %a{:href => 'https://twitter.com/gardenofwine', :target => '_blank'}= '@gardenofwine'
            %span= 'and'
            %a{:href => 'https://twitter.com/ShayHDavidson', :target => '_blank'}= '@ShayHDavidson'
            %span><= '.'

  %script{type: "text/javascript", src: "/index.js"}