!!! 5
%html{:lang => 'en'}
  %head
    %title= 'Yo Listen To This'

    %meta{:charset => 'utf-8'}
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1, user-scalable=no'}

    %meta{:name => 'description', :content => 'Listen to the current hot songs in /r/ListenToThis. New music everytime you check!'}
    %meta{:property => 'og:image', :content => '/images/logo-share.png'}
    %meta{:property => 'og:url', :content => 'http://www.yolistentothis.com/'}
    %meta{:property => 'og:type', :content => 'website'}
    %meta{:property => 'og:title', :content => 'Yo Listen to This'}

    %link{:href => '/images/favicon.png', :rel => 'shortcut icon'}

    %link{:href => "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", :rel => "stylesheet"}
    %link{:href => "/css/index.css", :rel => "stylesheet"}

    %script{type: "text/javascript", src: "//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"}
    %script{type: "text/javascript", src: "//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"}
    %script{type: "text/javascript", src: "//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"}
    %script{type: "text/javascript", src: "//cdnjs.cloudflare.com/ajax/libs/backbone.marionette/2.0.3/backbone.marionette.min.js"}

    %script
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-49127540-3', 'auto');
      ga('send', 'pageview');

%body
  .container
    .row
      .col-xs-12
        .logo.pull-left
        .title.pull-left
          %h1= 'Yo Listen to This'
          %p.lead
            %span= 'All the hot songs from'
            %a.subreddit{:href => 'http://www.reddit.com/r/listentothis', :target => '_blank'}= '/r/ListenToThis'
            %span<>= '.'
    .row
      .col-xs-12.col-sm-6
        .aspect-container
          .player.photo.left
            .spinner
      .col-xs-12.col-sm-6
        .aspect-container
          .playlist.photo.right

  %footer
    .container
      .row
        .col-xs-10
          %p
            %span= 'Created by the'
            %a{:href => 'http://notninjas.com', :target => '_blank'}= 'Not Ninjas'
            %span= 'at the eBay Israel Innovation Center:'
          %p
            %a.before-punctuation{:href => 'https://twitter.com/assafgelber', :target => '_blank'}= '@assafgelber'
            %span= ','
            %a{:href => 'https://twitter.com/gardenofwine', :target => '_blank'}= '@gardenofwine'
            %span= 'and'
            %a{:href => 'https://twitter.com/ShayHDavidson', :target => '_blank'}= '@ShayHDavidson'
            %span><= '.'
          %p
            %span= 'Feel free to contribute to the project in'
            %a{:href => 'https://github.com/iic-ninjas/ltt'}= 'Github'
            %span><= '.'
        .col-xs-2
          .share.pull-right
            %a{:href => 'https://www.facebook.com/sharer/sharer.php?u=yolistentothis.com', :target => '_blank'}
              .facebook.share-button{:title => 'Share on Facebook'}
            %a{:href => 'http://twitter.com/share?text=Yo, listen to this!&url=http://yolistentothis.com/&hashtags=yolistentothis,reddit', :target => '_blank'}
              .twitter.share-button{:title => 'Share on Twitter'}

  %script{type: "text/javascript", src: "/js/index.js"}